/*layout styles*/

.div-container {
    width: 90%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*map styles*/

.mappath{
    stroke: #444444;
    stroke-width: 0.1rem;
    fill: #DDDDDD;
    opacity: 0.2;
}

.route{
    stroke: Orange;
    stroke-width: 2;
    opacity: 0.5;
}

.spot{
    fill: green;
    opacity: 0.5;
}

.spot:hover {
    /*fill: black;*/
    /*opacity: 0.5;*/
    stroke-width: 4px;
    stroke: black;
}

.clicked {
    fill: #7a1717;
    opacity: 1;
    stroke-width: 1px;
    stroke: black;
}

#maplegend .label {
    font-size: 1.5rem;
}

#maplegend .swatch {
    fill: green;
}

.minuspadding {
    margin-bottom: -0.5rem;
}

.incresepaddingleft {
    padding-left: 2rem;
}

/*panel styles*/

.panelbefore {
    opacity: 0;
    height: 0;
}

.panelafter {
    opacity: 1;
    height: auto;
}

.panel {
    padding: 15px;
    max-width: 400px;
}

.pie {
    margin: -15px;
}

.reducedpadding {
     padding: 0.4rem;
 }

.collapsedtitle {
    padding: 0.5rem 1rem;
    text-align: center;
}

.collapsedtitle a {
    color: grey;
}

.nopadding {
    padding: 0rem;
    /*margin: -50px 0px;*/
}

.reducefontsize {
    font-size: 0.8rem;
}

.inlinetable {
    display: inline-block;
    padding-left: 0px;
    vertical-align: top;
}

/*unused styles*/
/*************************************************/
.pietext {
    font-family: sans-serif;
    font-size: 0.55rem;
    text-anchor: middle;
}

.author{
    font-family: Arial;
    font-size: 25px;
    text-anchor: start;
    fill: red;
}

nobody {
    font-family: Lato;
}

nobutton{
    border-radius: 50%;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

/*************************************************/

#legend .label {
    font-size: 1rem;
}

/*line chart*/
.DepDelayTime {
    stroke: steelblue;
    stroke-width: 2px;
}

.ArrDelayTime {
    stroke: crimson;
    stroke-width: 2px;
}

.dashedtick {
    stroke-dasharray: 1, 3;
}

/*bar chart*/

.bar1{
    fill: LightGray;
    /*stroke: white;*/
    /*stroke-width: 1px;*/
}
.bar2{
    fill: FireBrick;
    /*stroke: white;*/
    /*stroke-width: 1px;*/
}

/*force layout*/
.forcelink {
    stroke: #999;
    stroke-opacity: 0.6;
}
.forcenode {
     stroke: #fff;
     stroke-width: 1.5px;
 }
.forcenode:hover {
    stroke: #000;
}

.forcelinkclicked {
    stroke: #9b1717;
    stroke-opacity: 0.6;
    stroke-width: 0.5px;
}

#force .label {
    font-size: 0.7rem;
 }

#force .legendTitle {
    font-size: 0.8rem;
}

/*hierarchy layout*/
.node {
    font-family: sans-serif;
    font-size: 0.4rem;
    font-weight: lighter;
    fill: #ccc;
}

.node:hover {
    fill: #000;
    font-weight: bold;
}

.node--source,
.node--target,
.node--both {
    font-weight: bold;
}

.node--both {
    fill: #dc6c6f;
}

.node--target {
    fill: #68a064
}

.node--source {
    fill: #ffb51d;
}

.link {
    stroke-width: 0.01rem;
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
}

.link--both,
.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 0.05rem;
}

.link--both {
    stroke: #dc6c6f;
}

.link--target {
    stroke: #68a064;
}

.link--source {
    stroke: #ffb51d
}

#hierarchy .label {
    font-size: 0.7rem;
}

/*tooltip*/
.force-tip {
     /*line-height: 1;*/
     /*font-weight: bold;*/
     font-size: 0.5rem;
     padding: 6px;
     background: rgba(0, 0, 0, 0.8);
     color: #fff;
     border-radius: 2px;
 }

.force-tip:after {
    box-sizing: border-box;
    display: inline;
    padding: 4px;
    font-size: 0.5rem;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.hierarchy-tip {
    line-height: 1;
    /*font-weight: bold;*/
    font-size: 0.5rem;
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 2px;
}

.hierarchy-tip:after {
    box-sizing: border-box;
    display: inline;
    padding: 4px;
    font-size: 0.5rem;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.pie-tip {
    line-height: 1;
    /*font-weight: bold;*/
    font-size: 0.6rem;
    padding: 6px;
    background: #DDD;
    color: #222;
    border-radius: 2px;
}

.tooltipindex {
    color: #d4d4d4;
    font-weight: bold;
}

.chart-tip {
    /*line-height: 1;*/
    /*font-weight: bold;*/
    font-size: 0.5rem;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

h7 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.7rem;
}

h8 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.5rem;
}

.footer {
    font-size: 0.7rem;
    font-weight: lighter;
    color: Silver;
}