.airportname{
    fill: darkcyan;
    font-family: "AR BLANCA";
    font-size: 40px;
    text-anchor: start;

}

.airportsummary{
    font-family: "AR DARLING";
    font-size: 40px;
    text-anchor: start;
    fill: purple;
}

.arc text {
    font: 12px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.author{
    font-family: Arial;
    font-size: 25px;
    text-anchor: start;
    fill: red;
}
.bar1{
    fill: pink;
    stroke: gray;
    stroke-width: 1px;
}
.bar2{
    fill: LightGreen;
    stroke: gray;
    stroke-width: 1px;
}
.bar3{
    fill: LightBlue;
    stroke: gray;
    stroke-width: 1px;
}

button{
    border-radius: 50%;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

body {
    font-family: Lato;
}

.clicked{}

h1 {
    font-size:35px;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.hovered{}

.info{
    margin-left: 20px;
}

.mappath{
    stroke: #fff;
    stroke-width: 1;
    fill: steelBlue;
    opacity: 0.2;
}

.route{
    stroke: green;
    stroke-width: 2;
    opacity: 0.3;
}

.spot{
    stroke-width: 1px;
    stroke: black;
    fill: green;
}

.summaryitem{
    font-family: "AR DARLING";
    font-size: 25px;
    text-anchor: start;
    fill: blue;
}

.summaryvalue{
    font-family: "Algerian";
    font-size: 18px;
    text-anchor: start;
    fill: brown;
}
