.airportname{
    fill: darkcyan;
    font-family: "AR BLANCA";
    font-size: 40px;
    text-anchor: start;

}


.bar1{
    fill: red;
    stroke: gray;
    stroke-width: 1px;
}
button{
    border-radius: 50%;
    text-align: center;
    background-color: darkcyan;
    color: white;
}

body {
    font-family: Lato;
}

.clicked{}

h1 {
    font-size:35px;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.hovered{}

.info{
    margin-left: 20px;
}

.mappath{
    stroke: #fff;
    stroke-width: 1;
    fill: steelBlue;
    opacity: 0.2;
}

.route{
    stroke: green;
    stroke-width: 2;
    opacity: 0.3;
}

.spot{
    stroke-width: 1px;
    stroke: black;
    fill: green;
}
